src/**/bin
src/**/obj
node_modules
infrastructure/api-gateway/xbuild/rootfs/opt/aminoo/worker/api-gateway/
src/ApiGateway/src/xCom.ApiGateway/api-gateway/xbuild/rootfs/opt/aminoo/worker/api-gateway/xCom.ApiGateway.deps.json
